* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-family: "Caveat", cursive;
  font-size: 40px;
}
p {
  color: rgb(119, 119, 119);
}

h1 {
  font-family: "Bebas Neue", cursive;
}

i {
  color: rgb(68, 68, 68);
}
i:hover {
  color: rgb(143, 143, 143);
}
